<h1 style="color: #B00100">Bem vindo ao Rails no Heroku</h1>

<h3>Administrador</h3>
<%=link_to 'Cadastrar', new_administrador_path %>
</br>

<h3>Cliente</h3>
<%=link_to 'Cadastrar', new_cliente_path %>

<h3>Trabalhador</h3>
<%=link_to 'Cadastrar', new_trabalhador_path %>
